{% extends "main.html.twig" %}
{% block menu %}
    <ul>
        <li>
            <a href="{{ url }}main/topics">
                <span>
                    <div>
                        <img src="{{ url }}public/img/1.png">
                        <img src="{{ url }}public/img/hover/1.png">
                    </div>
                    <div> {{ lang.all_topics }} </div>
                </span>
            </a>
        </li>
        <li>
            <a href="{{ url }}main/mytopics">
                <span>
                    <div>
                        <img src="{{ url }}public/img/2.png">
                        <img src="{{ url }}public/img/hover/2.png">
                    </div>
                    <div>{{ lang.my_topics }}</div>
                </span>
            </a>
        </li>
        <li>
            <a class="menu-active" href="{{ url }}main/shared">
                <span>
                    <div>
                        <img src="{{ url }}public/img/3.png">
                        <img src="{{ url }}public/img/hover/3.png">
                    </div>
                    <div>{{ lang.admin_topics }}</div>
                </span>
            </a>
        </li>
    </ul>
{% endblock %}
{% block content %}
    {% for topic in topics %}
        <div class="discussion_product" data-id-discussion="{{ topic.id }}">
            <div class="div_discussion_product">
                <div class="info_discussion">
                    <div class="name_discussion">
                        <span>{{ topic.title }}</span>
                    </div>
                    <div class="author_discussion">
                        <span></span>
                    </div>
                </div>
                <div class="mark_discussion">
                    <div class="last_comment" data-time-create-discussion="{{ topic.id }}">
                        <span>{{ topic.timeAgo }}</span>
                    </div>
                    <div class="mark_star" data-star-discussion="3">
                    <span>

                    </span>
                    </div>
                    <div class="count_comment" data-count-comment="1">
                    <span>

                    </span>
                    </div>
                </div>
            </div>
            <div style="width: 100%; display: none;">
                <div class="description">
                    <p>
                        {{ topic.message }}
                    </p>
                </div>
                <div class="div_img">
                    {%  if  topic.linkType == 1 and topic.fileType|length > 0 %}
                        <div>
                            <video class="video-js vjs-default-skin"
                                   controls="controls" preload="auto">
                                <source src="{{ topic.picture }}" type="{{ topic.fileType }}" />
                            </video>
                        </div>
                    {% elseif topic.linkType == 1 %}
                        <div class="topics-embed embed-responsive embed-responsive-16by9">
                            <iframe autoplay="false" class="embed-responsive-item"
                                    src="{{ topic.picture }}" ></iframe>


                        </div>
                    {% elseif topic.linkType == 2 %}
                        <div class="topics-embed">
                            <img style="margin: 15px 0 15px 0;  max-height: 100%; max-width: 100%;" src="{{ topic.picture }}" />
                        </div>
                    {% endif %}
                    <!--
                    <img src="{{ url }}public/img/product.jpg"
                         style="margin: 15px 0 15px 0;  max-height: 100%; max-width: 100%;">
                         -->
                </div>
                <div class="evaluate">

                </div>
                <br>
                <table class="table">

                </table>
            </div>
        </div>




    {% endfor %}
{% endblock %}